<?xml version="1.0"?>

<config>
	<modules>
		<Cresjie_SocialLogin>
			<version>1.0</version>
		</Cresjie_SocialLogin>
	</modules>

	<frontend>
		<routers>
			<sociallogin>
				<use>standard</use>
				<args>
					<module>Cresjie_SocialLogin</module>
					<frontName>cresjie</frontName>
				</args>
			</sociallogin>
		</routers>
	</frontend>
	
	<global>
		<models>
			<sociallogin>
				<class>Cresjie_SocialLogin_Model</class>
			</sociallogin>
		</models>

		<blocks>
			<sociallogin>
				<class>Cresjie_SocialLogin_Block</class>
			</sociallogin>
		</blocks>
		<helpers>
			<sociallogin>
				<class>Cresjie_SocialLogin_Helper</class>
			</sociallogin>
			
		</helpers>

		 <resources>
            <sociallogin_setup>
                <setup>
                    <module>Cresjie_SocialLogin</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </sociallogin_setup>
        </resources>

	</global>

</config>